.chartjs-render-monitor{height:113px!important;}
.chuteHeader{color: #CD5C5C; font-size: 20px; padding-top: 20px;}
.image {height:23px; width:30px; padding-right:10px;}
.cheader{color: black !important; font-size: 15px !important;background-color: white;}
.crow{font-size: 10px !important; background-color: #E7EBE8;}
.crow1{font-size: 12px !important;border-bottom : 3px solid white !important;}
.crowH{border : 5px solid white !important;}
.bread-crum{border : 5px solid white !important; padding: 10px; margin: 1px; font-size: 15px;}